/* Background image */
body {
  background: url(https://images.unsplash.com/photo-1525332193053-dee9e7348624?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a171c64a1cb121a923c4e95d8308ca9e&auto=format&fit=crop&w=1950&q=80);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
header {
  background: rgba(0, 0, 0, 0.38) !important;
}

.navbar-brand {
  font-weight: bold;
  color: rgba(255, 255, 255);
}

/* Centering the signup and login */
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr;
}

.login-signup {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  color: rgba(255, 255, 255);
  height: 445px;
  width: 700px;
}

.log-in, .sign-up {
  display: flex;
  flex-direction: column;
}

.log-in{
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

article input{
  width: 270px !important ;
}

.log-in input, .sign-up input{
  margin: 30px;
}

.btn{
  width: 82%;
  margin-left: 9%;
}

/* fix footer to bottom */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, .81);
}
