<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Galvanize Task Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <link rel="stylesheet" href="./../stylesheets/tasks.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="./../bundle.js"></script>
    <meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <h2>Galvanize Task Tracker</h2>
      </a>
      <a class="logout" href="./../index.html"><h2>Log Out</h2></a>
    </nav>

    <!-- Tasks  -->
    <div class="task-tracker">
      <div class="lists-row">
        <div class="lists-header">
          <h2 class="lists-title">LISTS:</h2>
        </div>
        <div class="lists-or-new-tasks-area">
          <div class="user-lists">
            <div class="lists-container">
              <ul class="list-group">
                <div class="list-items-container"></div>
              </ul>
              <button type="button" class="btn add-list" title="Add new list">+ List</button>
            </div>
          </div>
          <div class="new-list-or-task">
            <!-- New List or Task Template -->
          </div>
        </div>
      </div>
      <div class="incomplete-tasks-row">
        <div class="incomplete-tasks-header">
          <h2 class="incomplete-tasks-title">TO DO:</h2>
          <button type="button" class="btn add-task" title="Add new task">+ Task</button>
        </div>
        <div class="incomplete-tasks">
          <!-- Incomplete tasks -->
        </div>
      </div>
      <div class="complete-tasks-row">
        <div class="complete-tasks-header">
          <h2 class="complete-tasks-title">COMPLETED:</h2>
        </div>
        <div class="complete-tasks">
          <!-- Complete tasks -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="copyright-msg">
        © 2018 Galvanize Task Tracker. All rights reserved.
      </div>
    </footer>
  </body>

</html>
