<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Galvanize Task Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="./../stylesheets/tasks.css">
    <link rel="stylesheet" href="./../main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="./../bundle.js"></script>
    <meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <a class="navbar-brand" href="./../index.html"> <!-- Change this back later -->
        <h2>Galvanize Task Tracker</h2>
      </a>
      <a class="logout" href="./../index.html"><h2>Log Out</h2></a>
    </nav>

    <!-- Tasks  -->
    <div class="task-tracker">
      <div class="lists-row">
        <div class="lists-header">
          <h2 class="lists-title">LISTS:</h2>
        </div>
        <div class="lists-or-new-tasks-area">
          <div class="user-lists">
            <div class="lists-container">
              <ul class="list-group">
                <div class="list-items-container">
                  <!-- User's Lists of Tasks -->
                </div>
              </ul>
              <button type="button" class="btn btn-primary add-list">+</button>
            </div>

          </div>
          <div class="new-list-or-task">
            <!-- New List or Task Template area -->
          </div>
        </div>
      </div>
      <div class="incomplete-tasks-row">
        <div class="incomplete-tasks-header">
          <h2 class="incomplete-tasks-title">DOING:</h2>
        </div>
        <div class="incomplete-tasks">
          <!-- <p>Incomplete task cards</p> -->
        </div>
      </div>
      <div class="complete-tasks-row">
        <div class="complete-tasks-header">
          <h2 class="complete-tasks-title">DONE:</h2>
        </div>
        <div class="complete-tasks">
          <!-- <p>Complete task cards</p> -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="copyright-msg">
        © 2018 Galvanize Task Tracker. All rights reserved.
      </div>
    </footer>
  </body>

</html>
