/* Background */

body {
  background: #232526;
  background: -webkit-linear-gradient(to top, #414345, #232526);
  background: linear-gradient(to top, #414345, #232526);
  height: 100vh;
}

/* Navbar */

.navbar {
  background: rgba(0, 0, 0, 0.38);
  height: 55px;
}

.navbar-brand {
  font-family: 'Kirang Haerang', cursive;
  margin-left: 10%;
}

.navbar-brand:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.logout {
  font-family: 'Kirang Haerang', cursive;
  margin-right: 10%;
}

.logout, .navbar-brand {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.logout:hover {
  text-decoration: none;
}

/* Row Headers */

.lists-title, .incomplete-tasks-title, .complete-tasks-title {
  font-family: 'Kirang Haerang', cursive;
}

/* Task Tracker */

.lists-row, .incomplete-tasks-row, .complete-tasks-row {
  height: 220px;
}

.task-tracker {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
  grid-template-areas: ". lists ." ". doing ." ". done ."
}

.lists-row {
  grid-area: lists;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas: "list-title list-content"
}

.incomplete-tasks-row {
  grid-area: doing;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas: "doing-title doing-content";
  border-radius: 5px;
}

.complete-tasks-row {
  grid-area: done;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas: "done-title done-content"
}

/* Headers */

.lists-header {
  grid-area: list-title;
}

.incomplete-tasks-header {
  grid-area: doing-title;
}

.complete-tasks-header {
  grid-area: done-title;
}

.lists-header, .incomplete-tasks-header, .complete-tasks-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  align-items: center;
}

/* Cards & Content */

.text-muted {
  margin-top: 0 !important;
  margin-right: 0 !important;
}

.lists-or-new-tasks-area {
  grid-area: list-content;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "userlists list-or-task";
  margin: 5px;
  cursor: pointer;
}

.incomplete-tasks {
  grid-area: doing-content;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  margin: 5px;
}

div.incomplete-tasks:hover, div.complete-tasks:hover, .list-items-container:hover {
  overflow: auto;
}

.complete-tasks {
  grid-area: done-content;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
}

.user-lists {
  grid-area: userlists;
  margin: 10px 5px;
  height: 170px;
}

.new-list-or-task {
  grid-area: list-or-task;
  margin-left: 5px;
  margin-top: 10px;
}

.badge {
  background: rgba(81, 185, 255, 0.65);
  color: rgba(255, 255, 255, 0.9);
  margin-left: 10px;
}

.fa-window-close {
  color: rgba(247, 7, 7, 0.65);
}

.fa-check-square {
  color: rgba(7, 247, 7, 0.65);
}

.fa-edit {
  color: rgba(0, 123, 255, 0.65);
}

/* Doing card title, body, foot */

.doing-card, .done-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  min-width: 215px;
  height: 185px;
  max-width: 215px;
  margin: 5px;
  cursor: pointer;
}

.list-delete {
  color: rgba(255, 255, 255, 0.9);
}

.doing-card-body, .done-card-body {
  margin: 12px 5px 5px 5px;
  height: 100%;
  overflow: auto;
  font-size: 15px;
}

.doing-card-footer, .done-card-footer {
  height: 72px;
  display: flex;
  justify-content: space-around;
}

.doing-card-title, .done-card-title {
  border-bottom: 1px solid black;
  color: rgba(216, 216, 216, 0.9);
}

.doing-completed {
  cursor: pointer;
}

.add-task {
  border: 1px solid black;
  background: rgba(0, 123, 255, 0.8);
  width: 110px;
}

/* Lists */

.list-items-container {
  min-height: 100px;
  max-height: 155px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}

.list-of-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 6px;
}

.list-of-task {
  color: rgba(255, 255, 255, 0.9);
}

.add-list {
  width: 100%;
  padding: 0 !important;
  height: 25px;
  z-index: 10;
  border: 1px solid black;
  border-radius: 5;
  background: rgba(0, 123, 255, 0.8);
  color: black;
}

.add-list:hover, .add-task:hover, .create-list:hover, .create-task:hover, .update-task:hover {
  background: rgba(0, 123, 255, 0.9);
  color: black;
}

.create-list, .create-task, .update-task {
  background: rgba(0, 123, 255, 0.8);
}

/* Lists form */

.new-task-container, .new-list-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-task-container form, .new-list-container form {
  height: 170px;
}

.needs-validation input, .needs-validation textarea, .needs-validation button {
  margin-top: 10px;
  width: 100%;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  font-weight: bold;
  height: 30px;
  color: white;
}

.copyright-msg {
  align-self: center;
}
